*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  position: fixed;
  top:300px;
  width: 100%;
  z-index: 1;
  }

.header-btn {
  background-color: #000;
  border-radius: 30px;
  border: 2px solid #FFB950;
  color: #FFB950;
  display: flex;
  font-size: 16px;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin: auto;
  outline: none;
}

.header-btn:hover {
	background: #FFB950;
	color: #000;
  border-color: red;
  box-shadow: 0 0 40px red;
}

.btn-active {
  background: #FFB950!important;
  color: #000;
  border-color: red;
  box-shadow: 0 0 40px red;
}

.swapi-logo {
  height: 100px;
  width: 100px;
}
