*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  }

.header-btn {
  background-color: #000;
  border-radius: 30px;
  border: 2px solid #FFB950;
  color: #FFB950;
  display: flex;
  font-size: 16px;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin: auto;
  outline: none;
}

.header-btn:hover {
	background: #FFB950;
	color: #000;
	box-shadow: inset 0 0 0 3px #000;
}

/*.swapi-logo {
  height: 200px;
  width: 200px;
  border: 2px solid red;
  background-image: url('./swapi-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-image: 1000px;
}*/
