*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display-card {
  background-color: rgba(255, 248, 231, .1);
  border: 1px solid #FFB950;
  border-radius: 10px;
  box-shadow: 0 0 20px #FFB950;
  color: #FFB950;
  display:flex;
  flex-direction: column;
  height: 300px;
  margin: 20px;
  width: 250px;
}

.card-name {
  font-size: 24px;
  margin: 20px 0 10px;
  text-align: center;
}

.card-fav-btn {
  background-color: #000;
  border: none;
  border-radius: 30px;
  border: 2px solid #FFB950;
  box-shadow: 4px 4px 4px #red;
  color: #FFB950;
  cursor: pointer;
  height: 30px;
  margin: 10px auto;
  outline: none;
  width: 50%;
}

.card-fav-btn:hover {
	background: #FFB950;
  border-color: red;
  box-shadow: inset 0 0 0 3px #000;
  box-shadow: 0 0 20px red;
	color: #000;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}
